[Unit]
Description=Every 5 minutes: purge expired ACME challenge TXT values

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
